.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  .image {
    flex: 1 1 40rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 40rem;

    .about-title {
      @include titleText(3rem);
    }

    p {
      @include graphText(2rem);
      padding: 1rem 0;
    }

    .icons-container {
      margin-top: 1rem;
      @include grid(16rem);

      .icons {
        flex: 1 1 15rem;
        border: $border;
        background: $light-green;
        text-align: center;
        padding: 3rem 2rem;

        img {
          height: 7rem;
          margin-bottom: 0.5rem;
        }

        h3 {
          @include titleText(3rem);
          padding: 0.5rem 0;
        }

        span {
          @include graphText(2rem);
        }
      }
    }
  }
}

.teachers {
  .slide {
    text-align: center;
    width: 30rem;

    &:hover {
      .image {
        img {
          background: $green;
        }

        .share {
          bottom: 0;
        }
      }
    }

    .image {
      position: relative;
      overflow: hidden;

      img {
        background: $light-green;
        width: 100%;
      }

      .share {
        position: absolute;
        bottom: -10rem;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 3rem;

        a {
          font-size: 3rem;
          margin: 0 1rem;
          color: $white;

          &:hover {
            color: $green;
          }
        }
      }
    }

    .content {
      display: flex;
      padding-top: 2rem;
      align-items: center;
      justify-content: space-around;

      h3 {
        @include titleText(2rem);
      }

      span {
        @include graphText(1.5rem);
      }
    }
  }
}
