@import "./var.scss";

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  .image {
    flex: 1 1 40rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 40rem;

    .about-title {
      @include titleText(3rem);
    }

    p {
      @include graphText(2rem);
      padding: 1rem 0;
    }

    .icons-container {
      margin-top: 1rem;
      @include grid(16rem);

      .icons {
        flex: 1 1 15rem;
        border: $border;
        background: $light-green;
        text-align: center;
        padding: 3rem 2rem;

        img {
          height: 7rem;
          margin-bottom: 0.5rem;
        }

        h3 {
          @include titleText(3rem);
          padding: 0.5rem 0;
        }

        span {
          @include graphText(2rem);
        }
      }
    }
  }
}
