@import './var.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  box-shadow: $box-shadow;
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  z-index: 1000;

  .logo {
    margin-right: auto;
    @include titleText(2.5rem);
    font-weight: bolder;

    i {
      color: $green;
    }
  }

  .navbar {
    position: relative;

    #close-navbar {
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      font-size: 4rem;
      cursor: pointer;
      color: $black;
      display: none;

      &:hover {
        transform: rotate(90deg);
      }
    }

    a {
      margin-right: 2rem;
      @include titleText(2rem);

      &:hover {
        color: $green;
      }
    }
  }

  .icons div {
    cursor: pointer;
    font-size: 2.5rem;
    color: $black;
    margin-left: 1.5rem;

    &:hover {
      color: $green;
    }
  }

  #menu-btn {
    display: none;
  }
}

.account-form {
    position: fixed;
    top: 0;
    right: -105%;
    width: 50rem;
    background: $white;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;
  
    &.active {
      right: 0%;
      box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.8);
    }
    #close-form {
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      font-size: 4rem;
      cursor: pointer;
      color: $black;
  
      &:hover {
        transform: rotate(90deg);
      }
    }
  
    form {
      border: $border;
      padding: 2rem;
      display: none;
  
      &.active {
        display: block;
      }
  
      h3 {
        @include titleText(2.5rem);
        padding-bottom: 0.5rem;
        text-transform: uppercase;
      }
  
      .box {
        width: 100%;
        padding: 1.2rem 1.4rem;
        font-size: 1.6rem;
        margin: 0.7rem 0;
      }
  
      .flex {
        padding-top: 1rem 0;
        display: flex;
        align-items: center;
  
        label {
          font-size: 1.5rem;
          color: $light-color;
          cursor: pointer;
        }
  
        a {
          font-size: 1.5rem;
          color: $light-color;
          margin-left: auto;
  
          &:hover {
            text-decoration: underline;
            color: $green;
          }
        }
      }
      .btn {
        width: 100%;
      }
    }
  
    .buttons .btn {
      margin: 0 0.5rem;
      &.active {
        background: $green;
        color: $white;
      }
    }
  }