@import "./style.scss";

.home {
  padding: 0;

  .slide {
    display: flex;
    align-items: center;
    height: 60rem;
    background-position: cover !important;
    background-size: cover !important;

    .content {
      width: 60rem;

      h3 {
        @include titleText(5rem);
        color: $white;
      }
      p {
        @include graphText(1.6rem);
        color: $light-white;
        padding: 1rem 0;
      }
    }
  }

  .swiper-pagination-bullet-active {
    background: $green;
  }
}

.subjects {
  .box-container {
    @include grid(16rem);

    .box {
      padding: 3rem 2rem;
      text-align: center;
      border: $border;
      background: $light-green;
      cursor: pointer;

      &:hover {
        background: $green;

        h3 {
          color: $white;
        }

        p {
          color: $light-white;
        }
      }

      img {
        height: 10rem;
      }

      h3 {
        @include titleText(1.7rem);
        padding: 0.5rem 0;
      }

      p {
        @include graphText(1.5rem);
      }
    }
  }
}

@media (max-width: 48rem) {
  .home .slide .content h3 {
    font-size: 3rem;
  }
}
